.container_bio p {
  font-size:34px;

}

.container_contact {
font-size:30px;
}

.container_contact_link_1 {
  display: flex;
  font-size: 20px;
}

.container_contact_link_2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.container_contact_link p {
font-size:34px;
}

.icon_mail {

  max-width: 36px;
}

.icon_insta {

  max-width: 30px;
}

.insta {
padding-left: 10px;
}

.mail {
   padding-left: 7px;
    padding-top: 10px;
}
