.container_contact {
font-size:30px;
}

.container_bio_pic img {
  padding-bottom: 36px;

}

.container_contact_link {
    padding-bottom: 12px;
    padding-left: 68px;
}

.container_contact_link p {
display: inline;
font-size:30px;
}

.icon_lettre {

  max-width: 50px;
}

.icon_insta {

  max-width: 40px;

}

.insta {
padding-right: 300px;
padding-top: 20px;


}
