.photo_library_sea {

}

.carnet {
    display: flex;
    padding-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
   justify-content: space-evenly;
}

.carnet_1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.carnet img {


}

.carnet_hyppo {
      display: flex;
    padding-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
   justify-content: space-evenly;
}

.carnet_hyppo img {
  border: 5px solid white;

}
