.photo_library_sea {

}

.carnet {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-style: oblique;
  font-weight: lighter;
  margin: 7px;
}

.carnet img {
    border: 5px solid white;
}


.skull_thread {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 80px;
}



.skull_thread img {
    border: 5px solid black;
}

.photo_description_sea img {
   max-width: 800px;
}
