.recorded_perf {
  height: 0;
  overflow: hidden;
  padding-bottom: 46.25%;
  padding-top: 30px;
  position: relative;
   }

.recorded_perf iframe, .recorded_perf object, .recorded_perf embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  }
