.tree_garden {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  font-size: 20px;
  font-style: oblique;
  font-weight: lighter;
  margin: 30px;
  gap: 10px;
  padding-bottom: 30px;
}

.fruit_garden {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.tree_garden p {
    justify-content: end;
    display: flex;
    padding-right: 5px;
}

.fruit_garden p {
    justify-content: end;
    display: flex;
    padding-right: 5px;
}

.photo_description_garden p {
    justify-content: end;
    display: flex;
    padding-right: 5px;
}
