// Specific CSS for your home-page
body{
  padding:0;
  margin:0;
  font-family:sans-serif;
  background-color: #E9EAEC;
  text-align:center;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);

}

.container_home {

  align-items: center;

}

.container_dialetto {
  position: absolute;
  padding-left: 150px;
padding-top: 200px;
text-align: center;
z-index: 1;
  cursor: default;
}


@media only screen and (max-width: 400px) {
  .container_dialetto h1, h2, h3 {
    font-size: 30px;
  }
}

.container_dialetto h1, h3 {
  display: inline;
}

.container_dialetto h1 {
  font-weight: bolder;
  font-size: 66px;
  color: #551117;
  opacity: 88%;
}

.container_dialetto h3 {
  font-style: oblique;
  font-weight: lighter;
  font-size: 56px;
  color: #551117;
  opacity: 88%;


}
.container_dialetto h2 {
  padding-top: 6px;
  font-size: 56px;
    color: #551117;
    opacity: 88%;

}

.container_home_pic {
  padding-top: 26px;

}

.container_home_pic img {
  width: 900px;
  position: relative;
  z-index: 0;
}


.letters {
  display:inline-block;

}

.letters:first-of-type {
  animation: showup 7s;
  animation-fill-mode: forwards;
}

.letters:last-of-type {
  width:0px;

}

@keyframes showup {
    0% {opacity:0;}
    40% {opacity:0;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes reveal {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}


.container_home_pic {
  animation: fadein 6s;
   animation-fill-mode: forwards;
}



@keyframes fadein {
    0% {opacity:1;}
    20% {opacity:1;}
    60% {opacity:1;}
    100% {opacity:0.4;}
}


.btn_discover a {
  text-decoration: none;
  color: #551117;
  opacity: 88%;
  font-size: 50px;
}

.btn_discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.image_discover {
 width: 300px;
}
