// Specific CSS for your home-page

.container_home {
display: flex;
flex-direction: column;
align-items: end;
padding-top: 4%;
}


.container_dialetto {
  padding-bottom: 50px;
}

.container_dialetto h1, h3 {
  display: inline;
}

.container_dialetto h1 {
  font-weight: bold;

}

.container_dialetto h3 {
  font-style: oblique;
  font-weight: lighter;

}
.container_dialetto h2 {
  padding-top: 6px;
}


.container_home_pic {
padding-right: 10px;

}



