.container_projet {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

@media screen and (max-width: 600px) {
  .container_projet {
    padding-top: 30px;

  }
}

.container_projet a {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.container_description {
  font-family: 'Lato', sans-serif;
  padding-bottom: 20px;
  padding-top: 6px;
}



.container_titre h1, h3 {
  font-family: 'Merriweather', serif;
  display: inline;

}


.container_titre {
  display: flex;
  padding-bottom: 12px;
  padding-top: 20px;

}


/////


.photo_invisible {
  max-width: 1000px;
  padding-bottom: 6%;
  padding-top: 4%;
}


.palazzo {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-style: oblique;
  font-weight: lighter;
  margin: 10px;
}

.palazzo img {
    border: 5px solid transparent;
}

.palazzo p {
    justify-content: end;
    display: flex;
    padding-right: 5px;
}


.politique {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}


.politique p {
    justify-content: end;
    display: flex;
    padding-right: 5px;
}

.photo_description p {
      justify-content: end;
    display: flex;
    padding-right: 5px;
}

.photo_invisible p {
      justify-content: end;
    display: flex;
    padding-right: 5px;
}
