

.oro_top {
display: flex;
flex-direction: row;
margin: 10px;
gap: 60px;
}

.oro_middle  {
  width: 600px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.oro_bottom {
display: flex;
flex-direction: row;
margin: 10px;
gap: 240px;

}

.oro_1 {
   width: 400px;
}

.oro_2 {
   width: 300px;
}

.oro_3 {
   width: 500px;
}

.oro_4 {
 width: 400px;

}


.oro_5 {
      width: 500px;
}


/////


