 .black_thread img {
  margin: 4px;
  border: 5px solid black;
}

.black_thread_img {
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.black_thread p {
  justify-content: end;
  display: flex;
  padding-right: 5px;
}
.skull_thread {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.skull_thread img {
  border: 5px solid black;

}
.skull_thread p {

}
.photo_description_thread img {
  border: 5px solid black;
}
.photo_description_thread p {
  justify-content: end;
  display: flex;
  padding-right: 5px;
}
