.photo_description_lovers {

}

.container_photo_lover {
  max-width: 400px;
}

.container_lovers_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
  padding-top: 10px;

}

.container_description_lover {
  padding-top: 34px;
}
