.container_lovers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lovers_diptych p {
  justify-content: end;
  display: flex;
  padding-right: 5px;
}
.lovers_red {
  max-width: 400px;
  padding-top: 10px;
}
.lovers_red p {
  justify-content: end;
  display: flex;
  padding-right: 5px;
}
