<div class="footer">
 <p>This website and all images are © Copyright 2022 'ndrame. All Rights Reserved. The use of any images on this website without the written permission of the artist is prohibited. </p>
</div>
