
<div class="container">
<aside>
  <button class="toggle fa fa-tint"></button>
  <h1>Menu</h1>
  <nav>
    <a href="projet_1">From personal to political</a>
    <a href="projet_2">Oro Rosso</a>
    <a href="projet_3">Of blood and sea</a>
    <a href="projet_4">Red thread</a>
    <a href="projet_5">The lovers</a>
    <a href="projet_6">Garden</a>
    <a href="projet_7">Ce ccose sté jiinde a ste 'ndrame</a>
    <a href="projet_8">Street art</a>
    <a href="press">Press & Project</a>
    <a href="bio">Contact & Bio</a>
  </nav>
</aside>

  </div>
