
<div class="topnav" id="myTopnav">
  <div class="container_linkpro">

  <a href="" class="active"></a>

  <a href="projet_1">From personal to political</a>
  <a href="projet_2">Oro Rosso</a>
  <a href="projet_3">Of blood and sea</a>
  <a href="projet_4">Red thread</a>
  <a href="projet_5">The lovers</a>
  <a href="projet_6">Garden</a>
  <a href="projet_7">Ce ccose sté jiinde a ste 'ndrame</a>
  <a href="projet_8">Street art</a>


  <a href="press" class="different">Press & Project</a>
  <a href="bio">Press & Bio</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</div>
