
<div class="container_sidebar">
<aside>
  <button> <img class="drop_btn" src="https://res.cloudinary.com/cloudpandora/image/upload/v1649696504/tache-bouton_xgqrb8.png"> </button>
  <a href="home"> <img class="logo_btn" src="https://res.cloudinary.com/cloudpandora/image/upload/v1650289820/logo_site_sangfull_puluqr.png" class="img-fluid" alt="Responsive image"></a>
  <div class="container_link">
  <nav>
    <a href="projet_1">From intimacy to politique</a>
    <a href="projet_2">Oro Rosso</a>
    <a href="projet_3">Of blood and sea</a>
    <a href="projet_4">Red thread</a>
    <a href="projet_5">The lovers</a>
    <a href="projet_6">Garden</a>
    <a href="projet_7">Ce ccòse stà ’nd’a sti ndrame</a>
    <a href="projet_8">Street art</a>
    <a href="press" class="different">Press & Project</a>
    <a href="bio">Bio & Contact</a>
  </nav>
</aside>
</div>
