<div class="container_projet">
  <div class="col-12 col-md-8 col-lg-10">
<div class="container_titre">
 <h1>Contact & Biography</h1>
 <h2>'Ndrame (Italia, 1987)</h2>
</div>
<div class="container_contact">
  <h3>ndrame.art@gmail.com</h3>
  <h3>@ndrame.art</h3>
</div>
<div class="container_description">
  <p>Born in Bari (Southern Italy), graduated from the School of Fine Arts in Naples and with a master's degree in Gender Studies from the University of Paris VIII, ‘Ndrame's practice is based mainly on menstrual blood, especially for making collages. She works with absorbent paper towels or textiles stained with menstrual blood, that once dried, are applied to different supports. She collects her own blood and other people's as well, in a community and plural approach where the relationship is part of the artistic process. Drawing, painting and the use of other materials such as lace, gold leaf or found objects are part of her work. Sensitive to ecological issues, upcycling is very important in her approach. Through the exploration of intimate spaces, her work addresses the question of the body, gender and social justice, as well as our relationship to the living things from a feminist and queer perspective.

She shows her work in collective exhibitions in Paris before exhibiting at the Féministival for the first time in Marseille in 2019. The same year, she co-founds “Coeur de cagoles”, a feminist and ecological collective committed to menstrual education.
In 2020, she had her first solo exhibition (Le pas sage, Marseille), and is scheduled for the Arts at home (Arles) and Garces (Marseille) festivals. She begins an artistic collaboration with Marisoa Ramonja and Clotilde Penet (“Sang trinité”) and creates urban collages on the theme of the body and menstrual education. She began working on a participative project called Jardin during a creative residency at La Réserve des Arts in Marseille. A first stage of the project was shown there in March 2021 and a second stage in June 2021 at the Espace Catalpa art therapy center in Marseille. She participated in the documentary “J’irai crier sur vos murs” (2022), produced by France television, on the theme of feminist street art in Marseille.

Plural name, in the dialect of Bari the ‘ndràme are the guts. This word embodies part of the geographical and cultural identity of the artist, but also a way of creating and feeling through this place. Moreover, 'ndràme also refers to the word drama, which etymologically means "action", "to do”.
Within heteropatriarchal societies, menstruation has always been a source of fear because of their power, hence the control of the menstrual cycle and the stigmatization of this blood. Through advertising, gender and hygiene norms, the dominant symbolism still leads us to make this blood invisible, to whiten it and dissipate its smell, despite the injunction to (sexual?) reproduction.
Hence the desire to rehabilitate this fluid by questioning its physical, political, energetic and aesthetic dimension. The vital force of menstrual blood contrasts with the blood of violence and the dominant male narrative of virile strength and power. Menstruations are a sign of a living body, as a regenerative force and opens up possible narratives and counter-hegemonic imaginations.

  </p>

</div>
