<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_titre">
     <h1>Contact & Biography</h1>
     <h4>'Ndrame (Italia, 1987)</h4>
   </div>
   <div class="container_contact">
    <h2>ndrame.art@gmail.com</h2>
    <h2>@ndrame.art</h2>
  </div>
  <div class="container_description">
    <p>Born in Bari (Southern Italy), graduating from the School of Fine Arts in Naples and with a
     master's degree in Gender Studies from the University of Paris VIII, ‘Ndrame's practice is based
      mainly on menstrual blood, especially for making collages. She works with absorbent paper towels
       or textiles stained with menstrual blood that, once dried, are applied to different media. She
        collects her own blood and other people’s as well, in a community based and pluralistic approach
        where the relationship is part of the artistic process. Drawing, painting and the use of other
         materials such as lace, gold leaf or found objects are part of her work. Being sensitive to
          ecological issues and upcycling is very important in her approach. Through the exploration of
           intimate spaces, her work addresses the question of the body, gender and social justice, as
            well as our relationship with living things from a feminist and queer perspective.

‘Ndrame exhibited her work in collective exhibitions in Paris before exhibiting at the Féministival for
 the first time in Marseille in 2019. The same year, she joins “Cœur de cagoles”, a feminist and
 ecological collective committed to menstrual education.
In 2020, she had her first solo exhibitions (Le pas sage, Marseille), at the Arts at home (Arles)
 and Garces (Marseille) festivals. She began an artistic collaboration with Marisoa Ramonja and
 Clotilde Penet (“Sang trinité”) and created urban collages on the themes of the body and menstrual
  education. She began working on a participative project called Jardin during a creative residency
   at La Réserve des Arts in Marseille. The first stage of the project was shown there in March 2021
    and a second stage in June 2021 at the Espace Catalpa art therapy center in Marseille. She
     participated in the documentary “J’irai crier sur vos murs” (2022), produced by France television,
      on the theme of feminist street art in Marseille.

The word ‘ndràme is a plural noun in the dialect of Bari which means guts. This word embodies part
 of the geographical and cultural identity of the artist, but also a way of creating and feeling
  through the guts. Moreover, ‘ndràme also refers to the Italian word for “dramma”, which etymologically
   means “action”, “to do”.
Within heteropatriarchal societies, menstruations have been used to control the body and justify the
 inferiority of women, leading to the stigmatisation of periods. Menstruations have been associated
  with impurity, the devil and even illnesses such as hystéria. To keep in line with advertising,
   restrictive gender and hygiene norms, menstrual blood is generally reduced to being invisible,
    its color whitened and its smell sanitized.
Hence ‘Ndrame’s desire to rehabilitate this fluid’s image by questioning its physical, political,
 energetic and aesthetic dimensions. The vital force of menstrual blood contrasts with the blood
  of violence and the dominant male narrative of virile strength and power. Menstruation represents
   a living body as a regenerative force and opens up various new narratives and counter-hegemonic ideas.

   </p>
 </div>
