<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre_bio">

      <h1><%= t('bio_title') %></h1>
      <h5>'ndrame (Italia, 1987)</h5>
    </div>
    <div class="container_contact_link_1">
      <a href="https://www.instagram.com/ndrame.art/" target="_blank"> <img class="icon_insta" src="https://res.cloudinary.com/cloudpandora/image/upload/v1650290460/insta_black_logo_ce4otr.png" class="img-fluid" alt="Responsive image"></a>
    <p class="insta">ndrame.art</p>
  </div>
<div class="container_contact_link_2">
    <img class="icon_mail" src="https://res.cloudinary.com/cloudpandora/image/upload/v1649544671/icon_mail_kuok3h.png" class="img-fluid" alt="Responsive image">
     <p class="mail">ndrame.art@gmail.com</p>
</div>
    <div class="container_bio_pic">
            <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1670056105/Bio/pagecontactndram0_jendfp.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1670056105/Bio/pagecontactndram0_jendfp.jpg" class="img-fluid">

      </a>

    </div>
  </div>
<div class="col-12 col-md-10 col-lg-8">
    <div class="container_description">
      <%= t('bio_html') %>
    </div>
     </div>
    </div>
<%= render 'shared/footer' %>
