<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre_bio">
      <h1>Biography & Contact</h1>
      <h5>'ndrame (Italia, 1987)</h5>
    </div>
    <div class="container_contact_link_1">
      <a href="https://www.instagram.com/ndrame.art/" target="_blank"> <img class="icon_insta" src="https://res.cloudinary.com/cloudpandora/image/upload/v1650290460/insta_black_logo_ce4otr.png" class="img-fluid" alt="Responsive image"></a>
    <p class="insta">ndrame.art</p>
  </div>
<div class="container_contact_link_2">
    <img class="icon_mail" src="https://res.cloudinary.com/cloudpandora/image/upload/v1649544671/icon_mail_kuok3h.png" class="img-fluid" alt="Responsive image">
     <p class="mail">ndrame.art@gmail.com</p>
</div>
    <div class="container_bio_pic">
            <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1660990176/Bio/pagecontactndram2_cznevu.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1660990176/Bio/pagecontactndram2_cznevu.jpg" class="img-fluid">

      </a>

    </div>
  </div>
<div class="col-12 col-md-10 col-lg-8">
    <div class="container_description">
      <%= t('bio') %>
      <p>Born in Bari (Southern Italy), graduating from the School of Fine Arts in Naples and with a master's degree in Gender Studies from the University of Paris VIII, ‘Ndrame's practice is based mainly on menstrual blood, especially for making collages. She works with absorbent paper towels or textiles stained with menstrual blood that, once dried, are applied to different media. She collects her own blood and other people’s as well, in a community based and pluralistic approach where the relationship is part of the artistic process.
In her work, relationships take part in her creative process: in an inclusive approach that aims at valuing the diversity of menstruating bodies, ‘Ndrame collects her own blood but also other people’s, in a community based and inclusive approach that wants to bring out the plurality of menstruating bodies. Drawing, painting and the use of other materials such as lace, gold leaf or found objects are part of her work. Being sensitive to ecological issues and upcycling is very important in her approach. Through the exploration of intimate spaces, her work addresses the question of the body, gender and social justice, as well as our relationship with living things from a feminist and queer perspective
      <p>The word ndrame is a plural noun in the dialect of Bari which means guts. This word embodies part of the geographical and cultural identity of the artist, but also a way of creating and feeling through the guts. Moreover, ndrame also refers to the Italian word for “dramma”, which etymologically means “action”, “to do”.
Within heteropatriarchal societies, menstruations have been used to control the body and justify the inferiority of women, leading to the stigmatization of periods. Menstruations have been associated with impurity, the devil and even illnesses such as hystéria. Considering gender norms, bodily injunctions and marketing, ‘Ndrame aims to question how the dominant culture still reduces this blood to be invisible, its color whitened and its smell sanitized. On the other hand, class inequalities limit the access to menstrual products for large numbers of people around the world, leading to social exclusion and further stigmatization. Hence ‘Ndrame’s desire to rehabilitate this fluid’s image by questioning its physical, sensory, political, energetic and aesthetic dimensions. The vital force of menstrual blood contrasts with the blood of violence and the dominant male narrative of virile and oppressive strength. Menstruation represents a living body as a regenerative force and opens up various new narratives and counter-hegemonic images.</p>
      <p>‘Ndrame exhibited her work in collective exhibitions in Paris before exhibiting at the Féministival for the first time in Marseille in 2019. The same year, she joins <em>Cœur de cagoles</em>, a feminist and ecological collective committed to menstrual education.
In 2020, she had her first solo exhibitions (Le pas sage, Marseille), at the Arts at home (Arles) and Garces (Marseille) festivals. She began an artistic collaboration with Marisoa Ramonja and Clotilde Penet (<em>Sang trinité</em>) and created urban collages on the themes of the body and menstrual education. She began working on a participative project called Jardin during a creative residency at La Réserve des Arts in Marseille. The first stage of the project was shown there in March 2021 and a second stage in June 2021 at the Espace Catalpa art therapy center in Marseille. She participated in the documentary <em>J’irai crier sur vos murs</em> (2022), produced by France television, on the theme of feminist street art in Marseille.
      </p>

    </div>
     </div>
    </div>
<%= render 'shared/footer' %>
