<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-8">
<div class="container_titre_oro">
 <h1>Ce ccòse stà ’nd’a sti 'ndrame</h1>
<p>What's inside these guts (2021)</p>
</div>

<div class="container_description_video">

  <p>Video performance created with Aurore Rey.
   A dialogue between the emotions and the guts, an attempt at healing and self-acceptance.
   </p>
   <p>Teaser here: </p>
</div>
<div class="recorded_perf">
<iframe src="https://www.youtube.com/embed/qD5kuw8xgdQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
  <div class="arrows">
    <a class="arrows_1" href="garden">Garden</a>

    <a class="arrows_1" href="street_art">Street art</a>
  </div>
</div>


<%= render 'shared/footer' %>
