<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
<div class="container_titre">
 <h1>Ce ccòse stà ’nd’a sti ndrame</h1>    <h3> 2021</h3>
 <p>Recorded performance</p>
</div>
<div class="container_description">
  <p>Recorded performance created in collaboration with Aurore Rey.
   A dialogue between the emotions and the stomach, an attempt at healing and self-acceptance.
   </p>
   <p>Teaser here: </p>
</div>
<div class="recorded_perf">
<iframe src="https://www.youtube.com/embed/W9QUOyTZAho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
  <div class="arrows">
    <a class="arrows_1" href="garden"><i class="fa fa-arrow-left" aria-hidden="true"></i> Garden</a>

    <a class="arrows_1" href="street_art">Street art <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>

</div>

<%= render 'shared/footer' %>
