<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1><%= t('intimate_title') %></h1>
    </div>
    <div class="photo_description">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661002549/from%20intimacy/SERVICE_DE_TABLE_ClotildeP2_o5icbd.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8 text-center">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661002549/from%20intimacy/SERVICE_DE_TABLE_ClotildeP2_o5icbd.jpg" class="img-fluid">
     <p>Table service (2015-2020)</p>
      </a>
    </div>
    <div class="container_description">
    <p> <%= t('intimate_description_html') %> </p>
    </div>
  </div>
  <div class="photo_invisible">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650293568/from%20intimacy/INVISIBLE_siteweb_dv1pm8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651683306/from%20intimacy/INVISIBLE_siteweb_vecto2_nhkenb.png" class="img-fluid">
    <p>Invisible (2020)</p>
    </a>
  </div>
  <div class="photo_library">
    <div class="palazzo">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650291523/from%20intimacy/pazz_1_Aurore_Rey_siteweb_qy4ztm.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650291523/from%20intimacy/pazz_1_Aurore_Rey_siteweb_qy4ztm.jpg" class="img-fluid">
      </a>
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650291524/from%20intimacy/pazz_2_Aurore_Rey_siteweb_rpd7pj.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650291524/from%20intimacy/pazz_2_Aurore_Rey_siteweb_rpd7pj.jpg" class="img-fluid">
      </a>
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650291529/from%20intimacy/pazz_di_giustizia_siteweb_viosrg.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650291529/from%20intimacy/pazz_di_giustizia_siteweb_viosrg.jpg" class="img-fluid">
        <p>Pazz' di giustizia (2014-2017)</p>
      </a>

    </div>

    <div class="politique">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651091269/from%20intimacy/machine_a%CC%80_coudre_siteweb_l8viqw.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651091269/from%20intimacy/machine_a%CC%80_coudre_siteweb_l8viqw.jpg" class="img-fluid">
<p>Sewing machine (2017)</p>
      </a>
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650297640/from%20intimacy/SERVICE_DE_TABLE_de%CC%81tail_siteweb_ws5m85.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650297640/from%20intimacy/SERVICE_DE_TABLE_de%CC%81tail_siteweb_ws5m85.jpg" class="img-fluid">
<p>Table service detail (2020) </p>
      </a>
    </div>
  </div>
    <div class="politique">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650291525/from%20intimacy/EN_FORME_EPISTOLAIRE_siteweb_d7rcgv.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650291525/from%20intimacy/EN_FORME_EPISTOLAIRE_siteweb_d7rcgv.jpg" class="img-fluid">
<p> In epistolary form (2013)</p>
      </a>
    </div>



  <div class="arrows">
    <a class="arrows_1" href="oro_rosso">Oro rosso</a>



    <a class="arrows_1" href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
  </div>

</div>
<%= render 'shared/footer' %>
