<div class="container_projet">
  <div class="col-12 col-md-12 col-lg-10">
    <div class="container_titre_garden">
      <h1><%= t('garden_title') %></h1>
      <p>2020 - in progress </p>
    </div>
    <div class="photo_description_garden">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661003123/Jardin/cerise_siteweb2_qgqva6.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661003123/Jardin/cerise_siteweb2_qgqva6.jpg" class="img-fluid">
      </a>
      </div>
      <div class="container_description">
        <%= t('garden_description') %>
        <p></p>
      </div>
  </div>
      <div class="tree_garden">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651163406/Jardin/Taro_siteweb_fqsmy9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651163406/Jardin/Taro_siteweb_fqsmy9.jpg" class="img-fluid" >
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650917643/Jardin/Mimosa_Siteweb_smabwx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650917643/Jardin/Mimosa_Siteweb_smabwx.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651162886/Jardin/paletuvier_siteweb_psjzdp.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651162886/Jardin/paletuvier_siteweb_psjzdp.jpg" class="img-fluid">
        </a>
      </div>
      <div class="col-10 col-md-10 col-lg-10">
      <div class="fruit_garden">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650917636/Jardin/Fenouil_siteweb_hz0lrx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650917636/Jardin/Fenouil_siteweb_hz0lrx.jpg" class="img-fluid">
        </a>
      </div>
    </div>
<div class="arrows">
<a class="arrows_1" href="the_lovers"><%= t('lovers_title') %></a>
<a class="arrows_1" href="ce_ccose_sta_dnasti_ndrame">video performance</a>
</div>
  </div>
<%= render 'shared/footer' %>
