
<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-10">
    <div class="container_titre">
      <h1>Garden </h1>    <h3> 2020 - in progress</h3>
      <p> </p>
    </div>
    <div class="photo_description_garden">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650917650/Jardin/cerise_siteweb_fibanw.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650917650/Jardin/cerise_siteweb_fibanw.jpg" class="img-fluid">
      </a>
      <div class="container_description">
        <p>Interest in holistic self-care practices and ecofeminism has fueled this investigation around menstrual blood and the plant kingdom.
         Little by little, it turned into a participatory project that encourages self-narrative, and exploration of the relationship with one's own menstrual blood.
          How can we connect menstruation to nature without falling into a limiting construct of “sacred femininity”, considering that not all women
          menstruate and not only women menstruate?
          Blood is a very good fertilizer and nutrient for plants, hence the desire to question the relationship between menstrual blood, earth and nature.
          Think about the continuity of life in this context, where humans and plants feed each other in a way which is not necessarily linked to gender or reproductive capacity.
          More than 40 people between cisgender women, non-binary people and trans people between the ages of 20 and 46 participated in the project. Each one made their own
          blood-stained paper towels and chose a plant related to their personal history, writing a text on it.
          Each collage is made with the blood of the participant and is combined with the corresponding text.
        A common space that is both symbolic and real, where all the contributions are brought together like plants in a garden, hence the name of the project.</p>
      </div>
    </div>
  </div>

      <div class="tree_garden">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651163406/Jardin/Taro_siteweb_fqsmy9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651163406/Jardin/Taro_siteweb_fqsmy9.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650917643/Jardin/Mimosa_Siteweb_smabwx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650917643/Jardin/Mimosa_Siteweb_smabwx.jpg" class="img-fluid">

        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651162886/Jardin/paletuvier_siteweb_psjzdp.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651162886/Jardin/paletuvier_siteweb_psjzdp.jpg" class="img-fluid">

        </a>
      </div>
      <div class="col-10 col-md-10 col-lg-10">
      <div class="fruit_garden">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650917636/Jardin/Fenouil_siteweb_hz0lrx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650917636/Jardin/Fenouil_siteweb_hz0lrx.jpg" class="img-fluid">

        </a>
      </div>
    </div>



<div class="arrows">
<a class="arrows_1" href="the_lovers"><i class="fa fa-arrow-left" aria-hidden="true"></i> The lovers</a>

<a class="arrows_1" href="ce_ccose_ndrame">Ce ccose stà 'nd'a sti ndrame <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
  </div>
<%= render 'shared/footer' %>

