<div class="container_projet">
  <div class="col-12 col-md-12 col-lg-10">
    <div class="container_titre_oro">
      <h1><%= t('garden_title') %></h1> <p>2020 - in progress </p>
    </div>
    <div class="photo_description_garden">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661003123/Jardin/cerise_siteweb2_qgqva6.jpg" class="img-fluid">
      </div>
      <div class="container_description">
       <p> <%= t('garden_description') %></p>
      </div>
  </div>
      <div class="tree_garden">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689863584/Jardin/Taro_siteweb3_xo6xqq.jpg" class="img-fluid" >
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689863584/Jardin/Mimosa_Siteweb3_uidz3f.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689863584/Jardin/paletuvier_siteweb3_zvxjvt.jpg" class="img-fluid">

      </div>
      <div class="col-10 col-md-10 col-lg-10">
      <div class="fruit_garden">

      </div>
    </div>
<div class="arrows">
<a class="arrows_1" href="the_lovers"><%= t('lovers_title') %></a>
<a class="arrows_1" href="ce_ccose_sta_dnasti_ndrame">video performance</a>
</div>
  </div>
<%= render 'shared/footer' %>
