<div class="container_home">
  <div class="contrainer_dialetto">
<h1>'ndrame /in dialetto significa viscere/</h1>
<h3>is a visual artist working mostly with menstrual blood</h3>
</div>
<div class="contrainer_home_pic">
  <img src="https://picsum.photos/700/400?grayscale">
</div>
</div>
</div>
