
<div class="home">
<div class="container_home">

  <div class="col-12 col-md-10 col-lg-10">
<%= render 'shared/lang' %>
      <div class="container_dialetto">


        <div class="letters">
          <h1>'ndrame </h1> <h3>/in dialetto significa viscere/</h3>
          <h2><%= t('home_title_html') %></h2>
        </div>

        <div class="btn_discover">
         <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663429948/bassin_homepage1_ccpeza.png" class="img-fluid" alt="Responsive image">
</div>

        </div>
      </div>
    </div>
  </div>

</div>

