<div class="d-flex justify-content-center">
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_home">
      <div class="container_dialetto">
        <div class="letters">
          <h1>'ndrame </h1> <h3>/in dialetto significa viscere/</h3>
          <h2>is a visual artist working mostly</h2>
          <h2> with menstrual blood</h2>
        </div>
        <div class="btn_discover">
          <div class="letter_discover">
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container_home_pic">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1649691840/COULERES_de%CC%81tail_site_dafova.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
</div>
</div>
<%= render 'shared/footer' %>
