
<div class="home">
<div class="container_home">

  <div class="col-12 col-md-10 col-lg-10">

      <div class="container_dialetto">

        <div class="letters">
          <h1>'ndrame </h1> <h3>/in dialetto significa viscere/</h3>
          <h2>is an artist working mostly with <br> menstrual blood</br></h2>
        </div>


        <div class="btn_discover">
         <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651085215/bassin_homepage_zzs4t6.png" class="img-fluid" alt="Responsive image">
</div>

        </div>
      </div>
    </div>
</div>
</div>
