<div class="container_projet">
    <div class="col-12 col-md-10 col-lg-8">
  <div class="container_titre">
    <h1><%= t('blood_sea_title') %> </h1>
    <p></p>
  </div>

    <div class="photo_description_sea">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650402996/Of%20blood%20and%20sea/NAPPERON_MOLLUSQUE_2_siteweb_asjf4o.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650402996/Of%20blood%20and%20sea/NAPPERON_MOLLUSQUE_2_siteweb_asjf4o.jpg" class="img-fluid">

      </a>
    </div>
    <div class="container_description">
    <p> <%= t('blood_sea_description_html') %> </p>
    </div>
  </div>
 <div class="hyppo">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651590339/Of%20blood%20and%20sea/PARFOIS_IL_FAUT_REMETTRE_A%CC%80_L_EAU_siteweb_dmwyr8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">

     <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651590339/Of%20blood%20and%20sea/PARFOIS_IL_FAUT_REMETTRE_A%CC%80_L_EAU_siteweb_dmwyr8.jpg" class="img-fluid">
   <p>Giving back to the water (2019)</p>
    </a>
  </div>
  <div class="carnet_1">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651587377/Of%20blood%20and%20sea/bariterreetmer_siteweb_taqbpf.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651587377/Of%20blood%20and%20sea/bariterreetmer_siteweb_taqbpf.jpg" class="img-fluid">
    </a>
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651590331/Of%20blood%20and%20sea/Seiche_siteweb_yk4pfy.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651590331/Of%20blood%20and%20sea/Seiche_siteweb_yk4pfy.jpg" class="img-fluid">
    </a>
  </div>

  <div class="carnet">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/TERRE_ET_MER___ANGUILLA_siteweb_bd1lbl.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/TERRE_ET_MER___ANGUILLA_siteweb_bd1lbl.jpg" class="img-fluid">
    </a>
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/stella_siteweb_sdk2hx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/stella_siteweb_sdk2hx.jpg" class="img-fluid">
    </a>
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/COQUI_siteweb_boqzob.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651103005/Of%20blood%20and%20sea/COQUI_siteweb_boqzob.jpg" class="img-fluid">
    <p>Bari. Land and sea (2016-2020)</p>
    </a>
  </div>
<div class="col-10 col-md-10 col-lg-10">
  <div class="arrows">
    <a class="arrows_1" href="oro_rosso">Oro rosso</a>
    <a class="arrows_1" href="red_thread"><%= t('red_thread_title') %></a>
  </div>
</div>
</div>
<%= render 'shared/footer' %>
