<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_titre_oro">
      <h1>Oro rosso </h1>    <p>(2019 - 2020)</p>
    </div>
    <div class="container_description">
      <%= t('oro_rosso_description_html') %>
    </div>
</div>
  <div class="col-12 col-md-10 col-lg-6">
      <div class="middle_oro">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004053/oro%20rosso/ndrm19siteweb2_ppp08f.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004053/oro%20rosso/ndrm19siteweb2_ppp08f.jpg" class="img-fluid">
        </a>
      </div>
  </div>
      <div class="top_oro">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004058/oro%20rosso/ndrm15siteweb2_s2nd8a.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004058/oro%20rosso/ndrm15siteweb2_s2nd8a.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004053/oro%20rosso/ndrm14siteweb2_vhmn7g.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004053/oro%20rosso/ndrm14siteweb2_vhmn7g.jpg" class="img-fluid">
        </a>
      </div>
     <div class="bottom_oro">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004047/oro%20rosso/ndrm13siteweb2_drx2p1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004047/oro%20rosso/ndrm13siteweb2_drx2p1.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004058/oro%20rosso/ndrm12.sitewebjpg2_kkjezu.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004058/oro%20rosso/ndrm12.sitewebjpg2_kkjezu.jpg" class="img-fluid">
        </a>
      </div>
      <div class="col-12 col-md-10 col-lg-10">
        <div class="three_oro">
          <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661003509/oro%20rosso/ndrm16_siteweb2_frihwg.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661003509/oro%20rosso/ndrm16_siteweb2_frihwg.jpg" class="img-fluid">
          </a>
          <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661003492/oro%20rosso/ndrm20_siteweb2_qjxbki.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661003492/oro%20rosso/ndrm20_siteweb2_qjxbki.jpg" class="img-fluid">
          </a>
          <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661003502/oro%20rosso/ndrm17_siteweb2_vtkgeo.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661003502/oro%20rosso/ndrm17_siteweb2_vtkgeo.jpg" class="img-fluid">
          </a>
        </div>
      </div>
      <div class="arrows">
        <a class="arrows_1" href="from_intimate_to_political"><%= t('intimate_title') %></a>
        <a class="arrows_1" href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
      </div>
</div>
<%= render 'shared/footer' %>
