<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
<div class="container_titre">
 <h1>Oro rosso </h1>    <h3> 2019 - 2020</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>

<div class="container_description">
  <p>Oro rosso (Red Gold) is a project made up of nine collages inspired by Italian journalist Stefania
    Prandi's investigation Oro rosso. Fragole, pomodori, molestie e sfruttamento nel mediterraneo (Settenove 2018).
    The book denounces the various discriminations - and sexual abuse in particular - suffered by women workers in
    agriculture in Italy, Spain and Morocco, where they are employed in the harvest of red fruits. Many of them come
    from Morocco, Romania, Poland, Bulgaria, Moldova and move permanently or temporarily depending on the working season,
    while others are from southern Italy.
     The book was a starting point to draw attention to a reality that is still all too ignored by the media and public
     opinion; and which affects feminist, social, political and ecological issues. The analogy between the red of the
     menstrual blood and the color of the fruits handled by the workers is a tool for translating the stories of these
   women and the work of the journalist into images.</p>
</div>
</div>
<div class="col-6 col-md-8 col-lg-6">
  <div class="card">
    <div class="card--image">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm19siteweb_xualz1.jpg" alt="image">
    </div>
    <div class="card--info info--1">
      <div class="icon">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div class="info--image">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" alt="info image">
      </div>
    </div>
    <div class="card--info info--2">
      <div class="icon">
        <ion-icon name="add-outline"></ion-icon>
      </div>
      <div class="info--image">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" alt="info image">
      </div>
    </div>
  </div>
</div>
</div>




















<div class="all_oro">
  <div class="middle_oro">
<a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm19siteweb_xualz1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm19siteweb_xualz1.jpg" class="img-fluid">
      </a>
</div>

      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" class="img-fluid">
      </a>

      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316443/oro%20rosso/ndrm16siteweb_lwwach.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316443/oro%20rosso/ndrm16siteweb_lwwach.jpg" class="img-fluid">
      </a>

      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316439/oro%20rosso/ndrm14siteweb_yei7ga.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316439/oro%20rosso/ndrm14siteweb_yei7ga.jpg" class="img-fluid">
      </a>

      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316438/oro%20rosso/ndrm13siteweb_qbtyr8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316438/oro%20rosso/ndrm13siteweb_qbtyr8.jpg" class="img-fluid">
      </a>

      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm12_t7frj9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm12_t7frj9.jpg" class="img-fluid">
      </a>
</div>


<%= render 'shared/footer' %>

