<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-10">
    <div class="container_titre_oro">
      <h1>Oro rosso </h1>    <p>(2019 - 2020)</p>
    <div class="container_description">
      <%= t('oro_rosso_description_html') %>
    </div>
      <div class="middle_oro col-lg-6">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004053/oro%20rosso/ndrm19siteweb2_ppp08f.jpg" class="img-fluid">
      </div>
      </div>
      <div class="top_oro">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717311/oro%20rosso/ndrm15siteweb3_ejragw.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717311/oro%20rosso/ndrm14siteweb3_iada94.jpg" class="img-fluid">
      </div>
     <div class="bottom_oro">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717311/oro%20rosso/ndrm13siteweb3_usouhh.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717311/oro%20rosso/ndrm12.sitewebjpg3_dwxcaw.jpg" class="img-fluid">
      </div>
        <div class="three_oro">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717649/oro%20rosso/ndrm20_siteweb3_omoqoz.jpg" class="img-fluid">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717649/oro%20rosso/ndrm16_siteweb3_zavyri.jpg" class="img-fluid">
            <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689717650/oro%20rosso/ndrm17_siteweb3_pmbxak.jpg" class="img-fluid">
        </div>

        </div>
      <div class="arrows">
        <a class="arrows_1" href="from_intimate_to_political"><%= t('intimate_title') %></a>
        <a class="arrows_1" href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
      </div>
</div>
<%= render 'shared/footer' %>
