<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_titre_oro">
      <h1>Oro rosso </h1>    <p>(2019 - 2020)</p>
    </div>
    <div class="container_description">
      <p>Oro rosso (Red Gold) is a project made up of nine collages inspired by Italian journalist Stefania
        Prandi's investigation <em>Oro rosso</em>. Fragole, pomodori, molestie e sfruttamento nel mediterraneo (Settenove 2018).
        The book denounces the various discriminations - and sexual abuse in particular - suffered by women workers in
        agriculture in Italy, Spain and Morocco, where they are employed in the harvest of red fruits. Many of them come
        from Morocco, Romania, Poland, Bulgaria, Moldova and move permanently or temporarily depending on the working season,
        while others are from southern Italy.
        The book was a starting point to draw attention to a reality that is still all too ignored by the media and public
        opinion; and which affects feminist, social, political and ecological issues. The analogy between the red of the
        menstrual blood and the color of the fruits handled by the workers is a tool for translating the stories of these
      women and the work of the journalist into images.</p>
    </div>
</div>
<div class="col-12 col-md-10 col-lg-6">
      <div class="middle_oro">

        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm19siteweb_xualz1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316436/oro%20rosso/ndrm19siteweb_xualz1.jpg" class="img-fluid">
        </a>
</div>
      </div>

      <div class="top_oro">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316525/oro%20rosso/ndrm15siteweb_hqudo7.jpg" class="img-fluid">
        </a>

        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316439/oro%20rosso/ndrm14siteweb_yei7ga.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316439/oro%20rosso/ndrm14siteweb_yei7ga.jpg" class="img-fluid">
        </a>
      </div>


     <div class="bottom_oro">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650316438/oro%20rosso/ndrm13siteweb_qbtyr8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650316438/oro%20rosso/ndrm13siteweb_qbtyr8.jpg" class="img-fluid">
        </a>

        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651092379/oro%20rosso/ndrm12.sitewebjpg_nwxojq.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651092379/oro%20rosso/ndrm12.sitewebjpg_nwxojq.jpg" class="img-fluid">
        </a>
      </div>

      <div class="col-12 col-md-10 col-lg-10">
<div class="three_oro">
         <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651505618/oro%20rosso/ndrm16_siteweb_h47jyg.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651505618/oro%20rosso/ndrm16_siteweb_h47jyg.jpg" class="img-fluid">
        </a>
         <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651505622/oro%20rosso/ndrm20_siteweb_ozfb2v.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651505622/oro%20rosso/ndrm20_siteweb_ozfb2v.jpg" class="img-fluid">
        </a>
           <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651505622/oro%20rosso/ndrm17_siteweb_ahwvot.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651505622/oro%20rosso/ndrm17_siteweb_ahwvot.jpg" class="img-fluid">
        </a>
</div>
      </div>
      <div class="arrows">
        <a class="arrows_1" href="from_intimate_to_political"><i class="fa fa-arrow-left" aria-hidden="true"></i> From intimate to political</a>

        <a class="arrows_1" href="of_blood_and_sea">Of blood and sea <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
</div>



<%= render 'shared/footer' %>
