<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>Exhibitions & Press </h1>    <h3> </h3>
 <p></p>
<h1> Exhibitions </h1>

<p>Espace Catalpa 2021      Marseille 2021</p>
<p>Réserve des arts     Marseille 2021</p>
<p>Garces - Galerie Agent troublant    Marseille 2020</p>
<p>Féministival      Marseille 2019</p>
<p>Pas Sage          Marseille 2020</p>
<p>Arts at home     Arles 2020</p>


 <h1> Articles </h1>
 <p>CULTURIZARTE (Chile) - sull’expo au Pas Sage
https://culturizarte.cl/entrevista-a-ndrame-artista-italiana-que-utiliza-la-sangre-menstrual-en-sus-obras-esta-materia-forzosamente-tiene-una-connotacion-politica/?fbclid=IwAR2vxwU5UzIK_4v3pnqRCSJSr6R6C2iiANuI5sIwDRcwBFzMpN8GYh-DOGU</p>
<p>J’IRAI CRIER SUR VOS MURS (France)
https://marsactu.fr/une-web-serie-raconte-les-artistes-derriere-les-messages-feministes-des-rues-de-marseille/
</p>
<p>ARTS AT HOME (France)
https://www.francenetinfos.com/immersion-au-festival-arts-at-home-a-arles-198513/
</p>



</div>
</div>
</div>

<%= render 'shared/footer' %>
