<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_titre">
      <h1>Exhibitions & Press </h1>
    </div>
    <div class="press">
      <h2> Articles </h2>
      <div class="press_1">
        <h5>Culturizarte (Chile)</h5>
        <a href="https://culturizarte.cl/entrevista-a-ndrame-artista-italiana-que-utiliza-la-sangre-menstrual-en-sus-obras-esta-materia-forzosamente-tiene-una-connotacion-politica/?fbclid=IwAR2vxwU5UzIK_4v3pnqRCSJSr6R6C2iiANuI5sIwDRcwBFzMpN8GYh-DOGU">https://culturizarte.cl/entrevista-a-ndrame-artista-italiana-que-utiliza-la-sangre-menstrual-en-sus-obras-esta-materia-forzosamente-tiene-una-connotacion-politica/ </a>
      </div>
      <div class="press_1">
        <h5>Marsactu (France)</h5>
        <a href="https://marsactu.fr/une-web-serie-raconte-les-artistes-derriere-les-messages-feministes-des-rues-de-marseille/">https://marsactu.fr/une-web-serie-raconte-les-artistes-derriere-les-messages-feministes-des-rues-de-marseille/</a>
      </div>
      <div class="press_1">
        <h5>France infos (France)</h5>
        <a href="https://www.francenetinfos.com/immersion-au-festival-arts-at-home-a-arles-198513/">https://www.francenetinfos.com/immersion-au-festival-arts-at-home-a-arles-198513/
        </a>
      </div>
    </div>
    <div class="exhibition">
      <h2> exhibitions views </h2>
      <div class="exhibition_1">
        <p>Espace Catalpa 2021      Marseille 2021</p>
      </div>
      <div class="exhibition_1">
        <p>Réserve des arts     Marseille 2021</p>
      </div>
      <div class="exhibition_1">
        <p>Féministival      Marseille 2019</p>
      </div>
      <div class="exhibition_1">
        <p>Pas Sage          Marseille 2020</p>
      </div>
    </div>
  </div>
</div>
  <%= render 'shared/footer' %>
