<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>Press & Project </h1>    <h3> </h3>
 <p>PAGE UNDER CONSTRUCTION </p>
</div>

<%= render 'shared/footer' %>
