<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-8">
    <div class="container_press">
      <div class="container_titre">
        <h1><%= t('press_title') %></h1>
      </div>
      <div class="press">
        <div class="press_1">
          <h5>Culturizarte (Chile)</h5>
          <a href="https://culturizarte.cl/entrevista-a-ndrame-artista-italiana-que-utiliza-la-sangre-menstrual-en-sus-obras-esta-materia-forzosamente-tiene-una-connotacion-politica/?fbclid=IwAR2vxwU5UzIK_4v3pnqRCSJSr6R6C2iiANuI5sIwDRcwBFzMpN8GYh-DOGU">https://culturizarte.cl/entrevista-a-ndrame-artista-italiana-que-utiliza-la-sangre-menstrual-en-sus-obras-esta-materia-forzosamente-tiene-una-connotacion-politica/ </a>
        </div>
        <div class="press_1">
        <h5>Marsactu (France)</h5>
        <a href="https://marsactu.fr/une-web-serie-raconte-les-artistes-derriere-les-messages-feministes-des-rues-de-marseille/">https://marsactu.fr/une-web-serie-raconte-les-artistes-derriere-les-messages-feministes-des-rues-de-marseille/</a>
        </div>
        <div class="press_1">
        <h5>France infos (France)</h5>
        <a href="https://www.francenetinfos.com/immersion-au-festival-arts-at-home-a-arles-198513/">https://www.francenetinfos.com/immersion-au-festival-arts-at-home-a-arles-198513/
        </a>
        </div>
      </div>
      <div class="exhibition_1">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1652230666/press/210893465_335125841674137_4797068023242465706_n_nfdm29.jpg" class="img-fluid">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1652230666/press/expctlp2_siteweb_o66apn.jpg" class="img-fluid">
    </div>
      <div class="exhibition_1">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431245/press/IMG_1726_Jean_siteweb1_hq7wsv.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431254/press/IMG_1607_Jean_siteweb1_eeqprm.jpg" class="img-fluid">
      </div>
      <div class="exhibition_1">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431415/press/rsda34_copia_siteweb1_uphk7d.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431255/press/IMG_1710_Jean_siteweb1_aaj6nt.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
