
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>From intimacy to politique </h1>    <h3> 2012 - in progress</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>A number of these artworks have been created based on a personal experience and aim to denounce
   patriarchal violence (In epistolary form), sexist and sexual violence and the obstacles that
    survivors encounter within the system of institutional justice (Pazz’ di giustizia). Evoking
     the domestic space and reinvesting its objects allow to speak about patriarchal violence inside
      the family but also to ‘exorcise’ it by proposing new meanings (Table service, Italian
       percolator).
Other works address inequality issues and struggles for emancipation of the oppressed groups
 (Sewing machine, Coulère).</p>
</div>
</div>
<div class="container_photo">
<div class="row justify-content-md-center">
<div class="col-12 col-md-8 col-lg-8">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882840/ndrm13.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882838/ndrm14.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882829/ndrm12.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
        <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648698312/ndrm19siteweb_x3zrrt.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648698311/ndrm15siteweb_b6bppy.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>

</div>

