<div class="container_projet">
  <div class="col-12 col-md-8 col-lg-10">
<div class="container_titre">
 <h1>Of blood and sea </h1>    <h3> 2020 - in progress</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>The work around menstrual blood, the sea and the marine world are intimately linked to the roots of the artist,
    to her family story and even to the origin of utilizing blood in her artistic work. There are some attempts to reconnect
    to the land of origin, to the dialect, the culture of southern Italy beyond its macho and oppressive aspects.
    The work Bari. Land and sea starts to explore this theme. It is steeped in the maritime culture of the city of Bari,
    in which marine animals and others organisms are a recurring theme.  Bari. Land and sea seeks to blend the local dialect
    with the medium of menstrual blood. The theme of blood also hints at fish fighting to stay alive. The sea, a fluid space
    which separates and unites several lands, a space of life, of mourning, of destruction but also of regeneration.
   An intimate and collective space.</p>
</div>
</div>
<div class="container_photo">
<div class="row justify-content-md-center">
<div class="col-12 col-md-8 col-lg-8">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882840/ndrm13.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882838/ndrm14.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1647882829/ndrm12.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
        <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648698312/ndrm19siteweb_x3zrrt.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648698311/ndrm15siteweb_b6bppy.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>
</div>


