
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>From intimacy to politique </h1>    <h3> 2012 - in progress</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>A number of these artworks have been created based on a personal experience and aim to denounce
   patriarchal violence (In epistolary form), sexist and sexual violence and the obstacles that
    survivors encounter within the system of institutional justice (Pazz’ di giustizia). Evoking
     the domestic space and reinvesting its objects allow to speak about patriarchal violence inside
      the family but also to ‘exorcise’ it by proposing new meanings (Table service, Italian
       percolator).
Other works address inequality issues and struggles for emancipation of the oppressed groups
 (Sewing machine, Coulère).</p>
</div>
</div>

<div class="row">
  <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
  </a>
</div>
<div class="row">
  <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
  </a>
</div>

</div>




