<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>Ce ccose sté jiinde a ste 'ndràme </h1>    <h3> 2021</h3>
 <p>video performance</p>
</div>
<div class="container_description">
  <p>The work around menstrual blood, the sea and the marine world are intimately linked to the roots of the artist,
    to her family story and even to the origin of utilizing blood in her artistic work. There are some attempts to reconnect
    to the land of origin, to the dialect, the culture of southern Italy beyond its macho and oppressive aspects.
    The work Bari. Land and sea starts to explore this theme. It is steeped in the maritime culture of the city of Bari,
    in which marine animals and others organisms are a recurring theme.  Bari. Land and sea seeks to blend the local dialect
    with the medium of menstrual blood. The theme of blood also hints at fish fighting to stay alive. The sea, a fluid space
    which separates and unites several lands, a space of life, of mourning, of destruction but also of regeneration.
   An intimate and collective space.</p>
</div>


<iframe width="560" height="315" src="https://www.youtube.com/embed/W9QUOyTZAho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
