
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
<div class="container_titre">
 <h1>Red thread </h1>    <h3> 2015 - 2020</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>The wool thread, soft and smooth, is reminiscent of veins, flowing blood and organs, but also
   the flow of our vital energies. This investigation starts with questioning the cold, traditional
    learning of artistic anatomy in the academic environment.
The red thread also represents what is invisible to the eye: emotions, memories, connections and
 souvenirs embedded in bodies.
</p>
</div>
</div>
<div class="container_photo">
<div class="row">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1648665722/bassinfil-siteweb_gvqcwa.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648665722/bassinfil-siteweb_gvqcwa.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1648665726/Bassin_entrailles_siteweb_szdbzc.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648665726/Bassin_entrailles_siteweb_szdbzc.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1648692416/Crane_face_siteweb_zkeogy.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648692416/Crane_face_siteweb_zkeogy.jpg" class="img-fluid">
  </a>
</div>
<div class="row">
  <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
  </a>
  <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
  </a>
</div>

</div>
</div>





