
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>Garden </h1>    <h3> 2020 - in progress</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>Interest in holistic self-care practices and ecofeminism has fueled this investigation around menstrual blood and the plant kingdom. Little by little, it turned into a participatory project that encourages self-narrative, and exploration of the relationship with one's own menstrual blood.
How can we connect menstruation to nature without falling into a limiting construct of “sacred femininity”, considering that not all women menstruate and not only women menstruate?
Blood is a very good fertilizer and nutrient for plants, hence the desire to question the relationship between menstrual blood, earth and nature. Think about the continuity of life in this context, where humans and plants feed each other in a way which is not necessarily linked to gender or reproductive capacity.
More than 40 people between cisgender women, non-binary people and trans people between the ages of 20 and 46 participated in the project. Each one made their own blood-stained paper towels and chose a plant related to their personal history, writing a text on it.
Each collage is made with the blood of the participant and is combined with the corresponding text.
A common space that is both symbolic and real, where all the contributions are brought together like plants in a garden, hence the name of the project.</p>
</div>
</div>
<div class="container_photo">
<div class="row justify-content-md-center">
<div class="col-12 col-md-8 col-lg-8">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648588837/Les_amantes_siteweb_xsepez.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648590055/Rouge_envie_siteweb_ffl3h0.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648589945/rouge_envie_site_web_cxshit.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
        <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648589945/rouge_envie_site_web_cxshit.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
            <div class="carousel-item">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1648589945/rouge_envie_site_web_cxshit.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
</div>
</div>


