<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1>Red thread </h1>    <h3></h3>
      <p> </p>
    </div>
    <div class="photo_description_thread">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004565/Red%20Thread/Mani_madri_siteweb2_apgnx3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004565/Red%20Thread/Mani_madri_siteweb2_apgnx3.jpg" class="img-fluid">
        <p>Hands-mothers (2018)</p>
      </a>
    </div>
    <div class="container_description">
<p> <%= t('red_thread_description') %> </p>
    </div>
  </div>
  <div class="black_thread">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004568/Red%20Thread/P1033474_siteweb2_i7cj8e.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004568/Red%20Thread/P1033474_siteweb2_i7cj8e.jpg" class="img-fluid">
    </a>
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004561/Red%20Thread/P1033475_siteweb2_ttlxe9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004561/Red%20Thread/P1033475_siteweb2_ttlxe9.jpg" class="img-fluid">
    </a>
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661004563/Red%20Thread/P1033477_siteweb2_lsjefg.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004563/Red%20Thread/P1033477_siteweb2_lsjefg.jpg" class="img-fluid">
      <p>Pelvis (2016)</p>
    </a>
  </div>
  <div class="skull_thread">
    <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650407402/Red%20Thread/P1033440_siteweb_nalyfk.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650407402/Red%20Thread/P1033440_siteweb_nalyfk.jpg" class="img-fluid">
      <p>Skull (2015)</p>
    </a>
  </div>
  <div class="arrows">
    <a class="arrows_1" href="of_blood_and_sea">Of blood and sea</a>
    <a class="arrows_1" href="the_lovers">The lovers</a>
  </div>
</div>
<%= render 'shared/footer' %>
