
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
<div class="container_titre">
 <h1>Street art </h1>    <h3> 2021 - in progress</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>

 <div class="photo_description">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924276/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb_xkf9yb.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924276/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb_xkf9yb.jpg" class="img-fluid">
      </a>
    </div>
<div class="container_description">
  <p>Urban collage project started in 2020 in Marseille and continued in other cities
   (Prague, Las Palmas de Gran Canaria, Paris). It focuses on the theme of body, love and
    inclusive menstrual education.
This project is also part of the web-series and documentary “J’irai crier sur vos murs” (France3, 2022).
</p>
<p>
Link 1
Link 2
</p>
</div>
</div>
<div class="container_photo">
<div class="row">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924938/street%20art/Bloody_Love_Canarie_siteweb_m4kadl.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924938/street%20art/Bloody_Love_Canarie_siteweb_m4kadl.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924272/street%20art/Bloody_love_Marseille_siteweb_rmaw3b.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924272/street%20art/Bloody_love_Marseille_siteweb_rmaw3b.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" class="img-fluid">
  </a>
</div>
<div class="row">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924275/street%20art/Toxic_Siteweb_mlrtnd.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924275/street%20art/Toxic_Siteweb_mlrtnd.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924269/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb_w2trno.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924269/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb_w2trno.jpg" class="img-fluid">
  </a>
</div>
</div>

  <div class="arrows">
    <a href="ce_ccose_ndrame"><i class="fa fa-arrow-left" aria-hidden="true"></i> Ce ccose stà 'nd'a sti ndrame</a>

    <button id="scrollToTopBtn"><i class="fa fa-arrow-up" aria-hidden="true"></i> </button>

    <a href="intimacy">From intimacy to politic <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>
<%= render 'shared/footer' %>
