<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1>Street art </h1>
    </div>
    <div class="photo_description">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005225/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb2_rxvdqq.jpg" class="img-fluid">
    </div>
    <div class="container_description">
    <p> <%= t('street_art_description_html') %> </p>
      <div class="street_video">
      <iframe src="https://www.youtube.com/embed/I8PQtCOMtYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  </div>
  <div class="col-6 col-md-10 col-lg-10">
    <div class="container_photo">
      <div class="street_lesbien">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369516/street%20art/Bloody_Love_Canarie_siteweb3_caoavh.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369516/street%20art/Bloody_love_Marseille_siteweb3_xcchhp.jpg" class="img-fluid">
      </div>
      <div class="street_menstrual">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369516/street%20art/Toxic_Siteweb3_knfolk.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369516/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb3_ckbqqw.jpg" class="img-fluid">
      </div>
      <div class="street_bottom">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369516/street%20art/AIME_TOI_MARSEILLE_siteweb3_znfpsg.jpg" class="img-fluid">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689369524/street%20art/oeil_siteweb3_r8t8cs.jpg" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="arrows">
    <a class="arrows_1" href="ce_ccose_sta_dnasti_ndrame">Video performance</a>
    <a class="arrows_1" href="from_intimate_to_political"><%= t('intimate_title') %></a>
  </div>
</div>
<%= render 'shared/footer' %>
