
<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1>Street art </h1>
      <p> </p>
    </div>
    <div class="photo_description">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924276/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb_xkf9yb.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924276/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb_xkf9yb.jpg" class="img-fluid">
      </a>
    </div>
    <div class="container_description_street">
      <p>Urban collage project started in 2020 in Marseille and continued in other cities
        (Prague, Las Palmas de Gran Canaria, Paris). It focuses on the theme of body, love and
        inclusive menstrual education.
      </p>
      <p> This project is also part of the web-series and documentary “J’irai crier sur vos murs” (France3, 2022). </p>
      <div class="street_video">
      <iframe src="https://www.youtube.com/embed/I8PQtCOMtYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    </div>
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_photo">
      <div class="street_lesbien">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651180665/street%20art/Bloody_Love_Canarie_siteweb_cu9jnh.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651180665/street%20art/Bloody_Love_Canarie_siteweb_cu9jnh.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924272/street%20art/Bloody_love_Marseille_siteweb_rmaw3b.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924272/street%20art/Bloody_love_Marseille_siteweb_rmaw3b.jpg" class="img-fluid">
        </a>
      </div>
      <div class="street_menstrual">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651180845/street%20art/Toxic_Siteweb_osz2jt.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651180845/street%20art/Toxic_Siteweb_osz2jt.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651180840/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb_bivhnv.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651180840/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb_bivhnv.jpg" class="img-fluid">
        </a>
      </div>
      <div class="street_bottom">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651186855/street%20art/oeil_siteweb_t3ugki.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651186855/street%20art/oeil_siteweb_t3ugki.jpg" class="img-fluid">
        </a>
      </div>
    </div>
    <div class="arrows">
      <a class="arrows_1" href="ce_ccose_ndrame"><i class="fa fa-arrow-left" aria-hidden="true"></i> Ce ccose stà 'nd'a sti ndrame</a>

      <a class="arrows_1" href="intimacy">From intimacy to politic <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
  </div>

<%= render 'shared/footer' %>
