<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1>Street art </h1>
    </div>
    <div class="photo_description">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661005225/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb2_rxvdqq.jpg" data-toggle="lightbox" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005225/street%20art/Cycliques_et_fie%CC%80r.e.x.s_siteweb2_rxvdqq.jpg" class="img-fluid">
      </a>
    </div>
    <div class="container_description_street">
    <p> <%= t('street_art_description_html') %> </p>
      <div class="street_video">
      <iframe src="https://www.youtube.com/embed/I8PQtCOMtYM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  </div>
  <div class="col-12 col-md-10 col-lg-10">
    <div class="container_photo">
      <div class="street_lesbien">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661005230/street%20art/Bloody_Love_Canarie_siteweb2_msyeui.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005230/street%20art/Bloody_Love_Canarie_siteweb2_msyeui.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661005250/street%20art/Bloody_love_Marseille_siteweb2_ur97rx.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005250/street%20art/Bloody_love_Marseille_siteweb2_ur97rx.jpg" class="img-fluid">
        </a>
      </div>
      <div class="street_menstrual">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661005250/street%20art/Toxic_Siteweb2_bbxnmi.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005250/street%20art/Toxic_Siteweb2_bbxnmi.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661005255/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb2_vdoqfx.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661005255/street%20art/CECI_EST_DU_VRAI_SANGclotilde_siteweb2_vdoqfx.jpg" class="img-fluid">
        </a>
      </div>
      <div class="street_bottom">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650924252/street%20art/AIME_TOI_MARSEILLE_siteweb_fsxyok.jpg" class="img-fluid">
        </a>
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1651186855/street%20art/oeil_siteweb_t3ugki.jpg" data-toggle="lightbox" class="col-sm-4">
          <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651186855/street%20art/oeil_siteweb_t3ugki.jpg" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
  <div class="arrows">
    <a class="arrows_1" href="ce_ccose_sta_dnasti_ndrame">Video performance</a>
    <a class="arrows_1" href="from_intimate_to_political"><%= t('intimate_title') %></a>
  </div>
</div>
<%= render 'shared/footer' %>
