<div class="container_projet">
<div class="col-10 col-md-10 col-lg-6">
  <div class="container_lovers">
    <div class="container_titre">
 <h1>The lovers </h1>    <h3> </h3>
</div>

<div class="lovers_red">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661002906/The%20lovers/Rouge_envie_siteweb2_culuuw.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661002906/The%20lovers/Rouge_envie_siteweb2_culuuw.jpg" class="img-fluid">
  <p>Red desire (2021)</p>
  </a>
  </div>
  <div class="container_description_lover">
  <p>Convey sensuality and eroticism through the presence of menstrual blood.
The diptych <em>Lovers</em> is inspired by a number of sacred female representations that can be seen in churches and in Western art overall.
 Their gestures, symbols and expressions are reinterpreted in order to celebrate Sapphic love.</p>
</div>

</div>
</div>
<div class="col-10 col-md-10 col-lg-8">
<div class="lovers_diptych">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1661002919/The%20lovers/Les_amantes_siteweb2_nozcsk.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
       <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661002919/The%20lovers/Les_amantes_siteweb2_nozcsk.jpg" class="img-fluid">
      <p>Diptych -The lovers (2021)</p>
      </a>

    </div>
  </div>

  <div class="arrows">
    <a class="arrows_1" href="red_thread"><i class="fa fa-arrow-left" aria-hidden="true"></i> Red thread</a>

    <a class="arrows_1" href="garden">Garden <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>
<%= render 'shared/footer' %>
