

<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-10">
<div class="container_titre">
 <h1>The lovers </h1>    <h3> 2021</h3>
 <p>menstrual blood on paper towels, paper, plastic bags, pen, ink and acrylic on cardboard </p>
</div>
<div class="container_description">
  <p>Convey sensuality and eroticism through the presence of menstrual blood.
The diptych The Lovers is inspired by a number of sacred female representations that can be seen in churches and in Western art overall. Their gestures, symbols and expressions are reinterpreted in order to celebrate Sapphic love.</p>
</div>
</div>
<div class="container_photo">
<div class="row">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650906905/The%20lovers/Rouge_envie_siteweb_qgzihh.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650906905/The%20lovers/Rouge_envie_siteweb_qgzihh.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650906906/The%20lovers/Les_amantes_siteweb_yeisfx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650906906/The%20lovers/Les_amantes_siteweb_yeisfx.jpg" class="img-fluid">
  </a>
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650906907/The%20lovers/rouge_envie_site_web_gq72cy.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650906907/The%20lovers/rouge_envie_site_web_gq72cy.jpg" class="img-fluid">
  </a>
</div>
</div>
</div>

