<div class="container_projet">
<div class="col-10 col-md-10 col-lg-6">
  <div class="container_lovers_description">
    <div class="container_titre">
 <h1>The lovers </h1>    <h3> 2021</h3>
</div>

<div class="container_photo_lover">
  <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650906905/The%20lovers/Rouge_envie_siteweb_qgzihh.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650906905/The%20lovers/Rouge_envie_siteweb_qgzihh.jpg" class="img-fluid">
  </a>
  </div>
  <div class="container_description_lover">
  <p>Convey sensuality and eroticism through the presence of menstrual blood.
The diptych The Lovers is inspired by a number of sacred female representations that can be seen in churches and in Western art overall. Their gestures, symbols and expressions are reinterpreted in order to celebrate Sapphic love.</p>
</div>

</div>
</div>


  <div class="col-10 col-md-10 col-lg-6">
<div class="photo_description_lovers">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1650906906/The%20lovers/Les_amantes_siteweb_yeisfx.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650906906/The%20lovers/Les_amantes_siteweb_yeisfx.jpg" class="img-fluid">
      </a>
    </div>
  </div>

  <div class="arrows">
    <a href="red_thread"><i class="fa fa-arrow-left" aria-hidden="true"></i> Red thread</a>

    <button id="scrollToTopBtn"><i class="fa fa-arrow-up" aria-hidden="true"></i> </button>

    <a href="garden">Garden <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>
<%= render 'shared/footer' %>
